.container
	%h1.home
		Had a bad day? No problem, help is at hand!
	%p
		&nbsp;
	%p
		&nbsp;
	
	%h2.call
		To receive some lovin, and cheer yourself up;
			
	%h2.call
		Call free on +44 (0)800 011 9544		